address,
.phone,
.email {
    display: inline-block;
    vertical-align: middle;
    padding: 0.75rem;
}

#map {
    padding: 1rem;
    height: 25rem;
    width: 100%;
}

footer {
    padding: 1rem;
    height: 2.5rem;
    text-align: center;
}

.rebeccapurple {
    background-color: #663399;
    color: #fff;
    padding: 1rem;
}

.darkgoldenrod {
    background-color: #b8860b;
    color: #fff;
    padding: 1rem;
}

.lightseagreen {
    background-color: #20b2aa;
    color: #fff;
    padding: 1rem;
}

.dodgerblue {
    background-color: #1e90ff;
    color: #fff;
    padding: 1rem;
}

.description {
    font-size: 0.75rem;
    padding-bottom: 3rem;
   
}

.description h4 {
    font-size: 1rem;
}

.green {
    background-color: #3adb76;
}